.container-fluid {
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 0em;

}


#signature {
    font-size: 3.5em;
    color: var(--PowderPink);
    font-family: Castro;

}


.description {
    padding-top: 4em;
    padding-bottom: 4em;
}

/* Ideology Section */
.repository {
    text-align: left;
    background-color: var(--sheerMauve);
    margin-bottom: 0em;
}

#verse {
    padding-right: 3%;
    padding-left: 15%;
    padding-right: auto;
    padding-bottom: 5em;

    margin: auto;
      
}

.bigger {
    font-size: 2em;
    font-weight: lighter;
    
    
}






/* Picture and Link Icons */
img {
    object-fit: contain;

    width: 100%;

    
}

.frame {

    padding: 1.5px;
    border:10px solid #021a40;
    background-color: white;
}


.links {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #021a40;
}


#icon {
    height: auto;
    color: white;
    font-size: 2em;
}



/* Button Coloring Provided By https://blog.koalite.com/bbg/ */
.btn-resume { 
    color: #FFFFFF; 
    background-color: #021A40; 
    border-color: #FFF; 
  } 
   
  .btn-resume:hover, 
  .btn-resume:focus, 
  .btn-resume:active, 
  .btn-resume.active, 
  .open .dropdown-toggle.btn-resume { 
    color: #FFFFFF; 
    background-color: #8F6B6B; 
    border-color: #FFF; 
  } 
   
  .btn-resume:active, 
  .btn-resume.active, 
  .open .dropdown-toggle.btn-resume { 
    background-image: none; 
  } 
   
  .btn-resume.disabled, 
  .btn-resume[disabled], 
  fieldset[disabled] .btn-resume, 
  .btn-resume.disabled:hover, 
  .btn-resume[disabled]:hover, 
  fieldset[disabled] .btn-resume:hover, 
  .btn-resume.disabled:focus, 
  .btn-resume[disabled]:focus, 
  fieldset[disabled] .btn-resume:focus, 
  .btn-resume.disabled:active, 
  .btn-resume[disabled]:active, 
  fieldset[disabled] .btn-resume:active, 
  .btn-resume.disabled.active, 
  .btn-resume[disabled].active, 
  fieldset[disabled] .btn-resume.active { 
    background-color: #021A40; 
    border-color: #FFF; 
  } 
   
  .btn-resume .badge { 
    color: #021A40; 
    background-color: #FFFFFF; 
  }