/* .container-fluid {
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 0em;
    margin-bottom: 3em;

} */


/* .description {
    padding-top: 4em;
    padding-bottom: 4em;
    font-size: 100%;
    
} */


/* Ideology Section */
.repository {
    text-align: left;
    background-color: var(--sheerMauve);
    margin-bottom: 0em;
    background-attachment: fixed;
    

}

#verse {
    padding-right: 3%;
    padding-left: 15%;
    padding-right: auto;
    padding-bottom: 5em;

    
    margin: auto;
    /* font-size: 100%; */
    font-size: 19px;
    
      
}



.bigger {
    font-size: 2em;
    font-weight: lighter;
    text-shadow: 0 0 10px white;

}



/* About description */
#Hello {
    font-size: 4em;
    font-weight: lighter;
    font-family: Wandita;
}

#signature {
    font-size: 3.5em;
    color: var(--PowderPink);
    font-family: Castro;

}


/* Picture and Link Icons */
img {
    object-fit: contain;
    max-width: 100%;
    border: 1px solid transparent;
   
}

.frame {
    padding: 1.5px;
    border:10px solid #021a40;
    border-radius: 5px 5px 0 0;
    /* border:10px solid #152238; */
    background-color: white;
    /* max-height: 65vh; */
}


.links {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #021a40;
    
    /* background-color: #152238; */
    border-radius: 0 0 5px 5px;
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; 
    border: none;

}

#icon {
    height: auto;
    color: white;
    font-size: 40px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 10px;

}

#icon:hover {
    color: rgb(170, 139, 139);
}


/* Button Coloring Provided By https://blog.koalite.com/bbg/ */
.btn-resume { 
    color: #FFFFFF; 
    background-color: #021A40; 
    border-color: #FFF; 
  } 
   
  .btn-resume:hover, 
  .btn-resume:focus, 
  .btn-resume:active, 
  .btn-resume.active, 
  .open .dropdown-toggle.btn-resume { 
    color: #FFFFFF; 
    background-color: #8F6B6B; 
    border-color: #FFF; 
  } 
   
  .btn-resume:active, 
  .btn-resume.active, 
  .open .dropdown-toggle.btn-resume { 
    background-image: none; 
  } 
   
  .btn-resume.disabled, 
  .btn-resume[disabled], 
  fieldset[disabled] .btn-resume, 
  .btn-resume.disabled:hover, 
  .btn-resume[disabled]:hover, 
  fieldset[disabled] .btn-resume:hover, 
  .btn-resume.disabled:focus, 
  .btn-resume[disabled]:focus, 
  fieldset[disabled] .btn-resume:focus, 
  .btn-resume.disabled:active, 
  .btn-resume[disabled]:active, 
  fieldset[disabled] .btn-resume:active, 
  .btn-resume.disabled.active, 
  .btn-resume[disabled].active, 
  fieldset[disabled] .btn-resume.active { 
    background-color: #021A40; 
    border-color: #FFF; 
  } 
   
.btn-resume .badge { 
    color: #021A40; 
    background-color: #FFFFFF; 
  }


#icon {
    transition: all .2s ease-in-out;
}

#icon a:hover {
    transform: scale(1.1);
}

.btn {
    margin-top: 0px;
}






/* About page second */

.content {
    display: grid;
    /* grid-template-columns: 1.5fr px; */
    grid-template-columns: 2fr minmax(min(300px, 100%), 1fr);
    padding-right: 15%;
    padding-left: 15%;
    grid-column-gap: 30px;
    align-items: start; 
    margin-bottom: 3em;



}



#info {
    /* margin-top: 8%; */
    max-height: 60vh;
    min-height: 500px;
    padding-top: 4em;
    padding-bottom: 1em;
   

    overflow-y: scroll;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
}


#info::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }



@media screen and (max-width: 800px) {
    .content {
      grid-template-columns: 1fr;
    }

    #photo {
        padding-top: 50px;
        
    }
  }



 