.container-fluid {
    padding: 15em;
}

.Name {
    font-size: 3.5em;
    color: rgb(201, 250, 178);
    color: var(--PowderPink);
    font-family: prettyGirl;
    font-family: Castro;
    /* font-weight: lighter; */

}

img {
    object-fit: contain;
    width: 100%;
    
}

.verse {
    text-align: left;

    background-color: var(--sheerMauve);
    padding: 50px;
    padding-left: 100px;
    margin-left: 60px;
    margin-bottom: 0em;
   
    
}

.bigger {
    font-size: 2em;
    font-weight: lighter;
    
}

.verseHeader {
    text-align: center;
    font-family: Wandita;
    font-size: 2.5rem;
    
}