body {
    background-color: var(--sheerMauve);
    color: white;
   
    width: 100%;
    padding: 0em;
    margin: 0em;

    
    background-image: url("../assets/4073194.jpg");
    background-attachment: fixed;
       
}


/* Headers */

.header {
    text-align: center;
    font-family: Wandita;

    font-size: 2.5em;
    padding-top: 3em;
    padding-bottom: 1.5em;
    
}

.header {
  /*
  Ensure background is added first
  */  
  /* background: linear-gradient(to bottom, #eee, rgba(255, 255, 255, 0.2), #fffcf8),url(../assets/White\ Cherry\ Blossom.jpeg); 

   background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
  
}

