#foot {
    text-align: center;
    padding: 10px;
    margin: 0;
    width: auto;
    color: var(--PowderPink);
}

#Contact {
    margin: 0;
    padding: 10px;
    padding-top: 3em;
    padding-bottom: 6em;
    width: 50vw
    /* background-color: rgba(255, 255, 255, 0.246); */
    /* background-color: white; */


    text-align: center;
    padding-bottom: 20px;
    width: 100vw;
}



#contact {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.171);
    /* background-color: var(--sheerPink); */



    display:block
    
}


.contact {
    display: block;
    padding-right: 15px;
    font-size: x-large;
    font-size: 1em;
    /* color: #021a40; */
    color: var(--BurntPlum);
    transition: .5s ease-in;


    
    
}

#fullName {
    font-size: 1em;
    color: var(--BurntPlum);
    /* color: #021a40; */

}

.contact:hover {
    font-size: 2vw;
}

#fullName:hover {
    font-size: 2vw;
}


.btn {
    margin-top: 10px;
    
}

.form-control {
    border: 1.8px solid var(--sheerMauve);
    background-color: rgb(255, 255, 255);
    color: var(--BurntPlum);
    border-radius: .60rem;
    color: black;
   
}

.rowForm {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1500px;
    margin: 0 auto; 
}


a[href^=tel] {
    text-decoration:inherit;
    color: inherit;
 }