#foot {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin: 0;
    width: auto;
    color: var(--PowderPink);
}

#Contact {
    margin: 0;
    padding: 0;
    padding-top: 3em;
    margin-bottom: 100px;
    width: 50vw;
    min-height: 90vh;

}

#contact {
    display: flex;
    justify-content: center;
    
}

.form-group {
    /* width: 50vw; */
}





.contact {
    padding-right: 15px;
    font-size: x-large;
    font-size: 1em;
    /* color: #021a40; */
    color: var(--BurntPlum);
    transition: .5s ease-in;
}

#fullName {
    font-size: 1em;
    color: var(--BurntPlum);
    /* color: #021a40; */

}


.contact:hover {
    font-size: 2vw;
}

#fullName:hover {
    font-size: 2vw;
}




