footer {
    height: 2em;
    text-align: center;
    vertical-align: middle;
    height: fit-content;
    
    
    /* display: block;  */
    ;
    

}


#foot {
    vertical-align: middle;
    font-size: 1em;
    background-color: var(--PowderPink);
    background-color: #152238;
    word-wrap: break;
    color: white;
    padding: 30px;
    border: #021a40 solid 5px;

}

address {
    border: #021a40 solid 5px;
    padding: 20px;
    margin: 0;

}


#logo {
    font-family: Wandita;
    
    
}

#rights {
    font-size: 13px;
}


