#firstImpression {
    background-image: url("../assets/White\ Cherry\ Blossom.jpeg");
    background-image: center;
    background-size: cover;
    background-position: center;
    width: 100vw;

    height: 90vh;
    /* margin-bottom: 0em; */
    margin: 0em;

}

#NameHeadline {
    /* background-color: var(--sheerPink); */
    color: var(--BurntPlum);

    font-family: Wandita;
    font-weight: bolder;
    text-align: left;

}

.display-4 {
  font-size: 3.5rem;
}

#nameContainer {
  background-color: var(--sheerPink);
  width: 50%;
  text-align: center;
  padding: 1px;
  padding-top: 30px;
  border-radius: 3px;
  border: 1px solid var(--PowderPink);
 

}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(240, 32, 77)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-toggler {
    border-color: var(--Lipstick);
  } 

  









