a {
    color: var(--Lipstick2);

    /* font-weight: 500; */
}

/* Scallop Pattern From https://codepen.io/KarenN/pen/LpVBzv */
  #top {
    position:relative;
    background: white;
    
    /* padding:50px; */
  }
  #top::after { 
    position:absolute;
    bottom: -50px;
    left: 0px;
    width: 100%;
    content:" ";
    background: 
    /* radial-gradient(circle at 50% 0%, #021a40 25%,  #021a4000 26%, #021a4000); */
    radial-gradient(circle at 50% 0%, #001f3d 25%,  #001e3d00 26%, #021a4000);

    background-size:40px 100px;
    height:50px;
    background-repeat: repeat-x;
    
  }
  

  #top {
    position: -webkit-sticky;
    /* Safari */

    position: sticky;
    top: 0;

    z-index: 1000;

    width: 100vw;
}

a:hover {
  color: var(--BurntPlum);
  /* color: white; */
  font-weight: 500;
}

.nav-item:hover {
  /* background-color: #021a40;
  border-radius: 3px; */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(240, 32, 77)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: var(--Lipstick);
  
} 
