#portfolio {
    width: 100vh;

    padding-bottom: 10em;
    padding-right: 15px;
    padding-left: 15px;

    /* background-color: rgba(94, 72, 72, 0.986); */
    background: linear-gradient(110deg, rgb(94, 72, 72, .986), rgb(150, 102, 102));
    width: 100vw;
}

.projectName {
    text-align: center;
    text-emphasis: bold;
    color: rgb(17, 16, 19);
}

.example {
    height: 170px;
    width: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
    
}

.frameShape {
    border:5px solid #021a40;
    background-color: white;
    transition: .5s ease-in-out;
      
}

.frameShape:hover {
    border: 11px solid var(--PowderPink);
    
  
}

.frameShape img:hover {
    border: 8px solid #021a40;
    /* border: 8px solid  rgb(94, 72, 72, .986); */
    
}

#My_Designs {
    padding-bottom: 3em;
}

