:root {
    --PowderPink:  #FFEBF2;
    --sheerPink:  #ffebf29c;
    --BurntPlum:  rgb(87, 65, 65);
    --Lipstick: rgb(240, 32, 77);
    --Lipstick2: rgb(238, 78, 112);
    --sheerMauve: rgba(143, 107, 107, 0.836);

}


@font-face {
    font-family: Wandita;
    src: url('../assets/wandita.otf');
}


@font-face {
    font-family: Castro;
    src: url('../assets/CastroScript_PERSONAL_USE_ONLY.ttf');
}






